In [1]:
import csv
import pandas as pd

In [2]:
#reading in traffic data from csv
Csvpath = "US_Accidents_Dec19.csv"
traffic_data = pd.read_csv(Csvpath)
traffic_data.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
traffic_data['Corrected_Zipcode'] = traffic_data['Zipcode'].str.slice(0,5)
traffic_data

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Corrected_Zipcode
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,Night,Night,Night,Night,45424
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,Night,Night,Night,Day,43068
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,True,False,Night,Night,Day,Day,45176
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,Night,Day,Day,Day,45417
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,True,False,Day,Day,Day,Day,45459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2974330,A-2974354,Bing,NaN,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,...,False,False,False,False,False,Day,Day,Day,Day,92501
2974331,A-2974355,Bing,NaN,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,...,False,False,False,False,False,Day,Day,Day,Day,92108
2974332,A-2974356,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,...,False,False,False,False,False,Day,Day,Day,Day,92866
2974333,A-2974357,Bing,NaN,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,...,False,False,False,False,False,Day,Day,Day,Day,90230
2974334,A-2974358,Bing,NaN,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,...,False,False,False,False,False,Day,Day,Day,Day,92346

In [4]:
#Finding all column names in traffic dataframe
traffic_data.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'Corrected_Zipcode'],
      dtype='object')

In [5]:
#updating dataframe to keep only columns we need
traffic_data_reorg = traffic_data[["Severity", "Description", "Start_Time", "Start_Lat","Start_Lng","Street", "Corrected_Zipcode", "City","County","State","Visibility(mi)"]]
traffic_data_reorg = traffic_data_reorg.rename(columns={"Corrected_Zipcode":"Zipcode"})
traffic_data_reorg.head()

,Severity,Description,Start_Time,Start_Lat,Start_Lng,Street,Zipcode,City,County,State,Visibility(mi)
0,3,Right lane blocked due to accident on I-70 Eas...,2016-02-08 05:46:00,39.865147,-84.058723,I-70 E,45424,Dayton,Montgomery,OH,10.0
1,2,Accident on Brice Rd at Tussing Rd. Expect del...,2016-02-08 06:07:59,39.928059,-82.831184,Brice Rd,43068,Reynoldsburg,Franklin,OH,10.0
2,2,Accident on OH-32 State Route 32 Westbound at ...,2016-02-08 06:49:27,39.063148,-84.032608,State Route 32,45176,Williamsburg,Clermont,OH,10.0
3,3,Accident on I-75 Southbound at Exits 52 52B US...,2016-02-08 07:23:34,39.747753,-84.205582,I-75 S,45417,Dayton,Montgomery,OH,9.0
4,2,Accident on McEwen Rd at OH-725 Miamisburg Cen...,2016-02-08 07:39:07,39.627781,-84.188354,Miamisburg Centerville Rd,45459,Dayton,Montgomery,OH,6.0

In [6]:
#Narrowing down dataframe to only show Atlanta, Georgia accidents from 2018
date = '2018-01-01 00:00:00'
atl_data = traffic_data_reorg.loc[(traffic_data_reorg["State"]=="GA")
                                  &(traffic_data_reorg["City"]=="Atlanta")
                                  &(traffic_data_reorg["Start_Time"]>=date),:]

In [7]:
#narrowing down dataframe to only show zipcodes with highest number of accidents
narrowed_atl_df = atl_data.loc[(atl_data["Zipcode"]=='30312')
                               |(atl_data["Zipcode"]=='30339')
                               |(atl_data["Zipcode"]=='30331')
                               |(atl_data["Zipcode"]=='30315')
                               |(atl_data["Zipcode"]=='30309')
                               |(atl_data["Zipcode"]=='30340')
                               |(atl_data["Zipcode"]=='30308')
                               |(atl_data["Zipcode"]=='30324')
                               |(atl_data["Zipcode"]=='30342')
                               |(atl_data["Zipcode"]=='30318'),:]
narrowed_atl_df

,Severity,Description,Start_Time,Start_Lat,Start_Lng,Street,Zipcode,City,County,State,Visibility(mi)
512404,3,Three right lane blocked and right hand should...,2019-12-25 11:35:57,33.912956,-84.391212,GA-407 E,30342,Atlanta,Fulton,GA,10.0
512419,3,Four lanes blocked and left hand shoulder bloc...,2019-12-25 20:56:05,33.783630,-84.495560,GA-407 S,30318,Atlanta,Fulton,GA,10.0
512961,3,Left hand shoulder blocked and HOV & left lane...,2019-12-26 03:57:30,33.891838,-84.259323,GA-403 S,30340,Atlanta,DeKalb,GA,9.0
512984,3,HOV lane blocked due to accident on I-85 South...,2019-12-26 11:01:57,33.800785,-84.389580,GA-403 S,30309,Atlanta,Fulton,GA,10.0
512985,3,Lane blocked due to accident on I-85 Southboun...,2019-12-26 11:27:55,33.819431,-84.361671,GA-403 S,30324,Atlanta,Fulton,GA,10.0
...,...,...,...,...,...,...,...,...,...,...,...
2972952,3,At I-285/Exit 51 - Accident.,2019-08-21 14:56:02,33.761977,-84.493530,GA-407 S,30331,Atlanta,Fulton,GA,10.0
2972970,3,At I-20/Exit 10 - Accident.,2019-08-21 17:02:16,33.768440,-84.494860,GA-407 S,30318,Atlanta,Fulton,GA,10.0
2973547,2,At Paces Ferry Rd/Exit 18 - Accident.,2019-08-22 15:52:21,33.860680,-84.480930,I-285 N,30339,Atlanta,Cobb,GA,10.0
2973984,4,At GA-166/Lakewood Fwy/Exit 5 - Accident.,2019-08-23 02:01:46,33.686550,-84.499870,GA-407 N,30331,Atlanta,Fulton,GA,10.0
2974013,2,Between I-285/Exit 95 and Pleasantdale Rd/Exit...,2019-08-23 20:29:30,33.895722,-84.252706,GA-403 N,30340,Atlanta,DeKalb,GA,10.0

In [8]:
narrowed_atl_df.dtypes
narrowed_atl_df['Start_Time']= pd.to_datetime(narrowed_atl_df['Start_Time']) 
narrowed_atl_df['Date'] = narrowed_atl_df['Start_Time'].dt.strftime('%m/%d/%Y')
narrowed_atl_df

C:\Users\Amber\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Amber\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Severity,Description,Start_Time,Start_Lat,Start_Lng,Street,Zipcode,City,County,State,Visibility(mi),Date
512404,3,Three right lane blocked and right hand should...,2019-12-25 11:35:57,33.912956,-84.391212,GA-407 E,30342,Atlanta,Fulton,GA,10.0,12/25/2019
512419,3,Four lanes blocked and left hand shoulder bloc...,2019-12-25 20:56:05,33.783630,-84.495560,GA-407 S,30318,Atlanta,Fulton,GA,10.0,12/25/2019
512961,3,Left hand shoulder blocked and HOV & left lane...,2019-12-26 03:57:30,33.891838,-84.259323,GA-403 S,30340,Atlanta,DeKalb,GA,9.0,12/26/2019
512984,3,HOV lane blocked due to accident on I-85 South...,2019-12-26 11:01:57,33.800785,-84.389580,GA-403 S,30309,Atlanta,Fulton,GA,10.0,12/26/2019
512985,3,Lane blocked due to accident on I-85 Southboun...,2019-12-26 11:27:55,33.819431,-84.361671,GA-403 S,30324,Atlanta,Fulton,GA,10.0,12/26/2019
...,...,...,...,...,...,...,...,...,...,...,...,...
2972952,3,At I-285/Exit 51 - Accident.,2019-08-21 14:56:02,33.761977,-84.493530,GA-407 S,30331,Atlanta,Fulton,GA,10.0,08/21/2019
2972970,3,At I-20/Exit 10 - Accident.,2019-08-21 17:02:16,33.768440,-84.494860,GA-407 S,30318,Atlanta,Fulton,GA,10.0,08/21/2019
2973547,2,At Paces Ferry Rd/Exit 18 - Accident.,2019-08-22 15:52:21,33.860680,-84.480930,I-285 N,30339,Atlanta,Cobb,GA,10.0,08/22/2019
2973984,4,At GA-166/Lakewood Fwy/Exit 5 - Accident.,2019-08-23 02:01:46,33.686550,-84.499870,GA-407 N,30331,Atlanta,Fulton,GA,10.0,08/23/2019
2974013,2,Between I-285/Exit 95 and Pleasantdale Rd/Exit...,2019-08-23 20:29:30,33.895722,-84.252706,GA-403 N,30340,Atlanta,DeKalb,GA,10.0,08/23/2019

In [9]:
narrowed_atl_df["Street"].value_counts()

GA-403 N           945
I-75 S             920
GA-403 S           787
I-75 N             780
GA-401 N           780
                  ...
Burroughs St SE      1
 Bolton Rd NW        1
 Williams St NW      1
 Cascade Rd SW       1
S Atlanta Rd SE      1
Name: Street, Length: 360, dtype: int64

In [10]:
#https://stackoverflow.com/questions/50474289/in-pandas-how-to-search-for-words-and-phrases-to-create-new-dataframe
str_choice1 = "St|(St NE)|(St NW)|(St SW)|(St SE)|(Dr NE)|(Dr SW)|(Dr SE)|(Dr NW)|Ave|(Ave NE)|\
(Ave SW)|(Ave SE)|(Ave NW)|Rd|(Rd SE)|(Rd SW)|(Rd NW)|(Rd NE)|Blvd|Dr|(Blvd NE)|(Blvd SW)|Way|(Way SE)|\
Park|Boulevard|(Cir NE)|(Cir NW)|Sq|(Pl NE)|(Pl SW)|(Ct NW)|(Ln SW)|(Ln NW)|(Ctr NW)|(Ctr SE)|(Chase NE)|(Trl SW)" 
street_df = narrowed_atl_df[narrowed_atl_df['Street'].str.contains(str_choice1, na = False)]
street_df["Rd_Type"] = "Residential"
street_df

C:\Users\Amber\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
C:\Users\Amber\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Severity,Description,Start_Time,Start_Lat,Start_Lng,Street,Zipcode,City,County,State,Visibility(mi),Date,Rd_Type
513013,2,Main roadway closed due to accident on GA-400 ...,2019-12-26 17:43:03,33.906185,-84.358948,Johnson Ferry Rd NE,30342,Atlanta,Fulton,GA,10.0,12/26/2019,Residential
513018,2,3 left lane blocked due to accident on US-19 N...,2019-12-26 21:26:47,33.786228,-84.407440,Northside Dr NW,30318,Atlanta,Fulton,GA,10.0,12/26/2019,Residential
515437,3,Lane blocked due to accident on I-75 Northboun...,2019-12-28 17:24:10,33.740631,-84.391212,Pollard Blvd SW,30315,Atlanta,Fulton,GA,10.0,12/28/2019,Residential
517380,2,Lane blocked due to accident on GA-13 Buford H...,2019-12-30 07:50:34,33.823967,-84.356277,Sidney Marcus Blvd NE,30324,Atlanta,Fulton,GA,10.0,12/30/2019,Residential
517384,2,Left hand shoulder blocked due to accident on ...,2019-12-30 08:07:20,33.852207,-84.369438,Lenox Rd NE,30342,Atlanta,Fulton,GA,10.0,12/30/2019,Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2963248,2,Ramp to Cumberland Blvd SE - Accident.,2019-07-31 21:01:00,33.886384,-84.458582,Akers Mill Rd SE,30339,Atlanta,Cobb,GA,10.0,07/31/2019,Residential
2966071,2,At 10th St/Exit 250 - Accident. Lane blocked.,2019-08-06 14:09:26,33.781530,-84.391210,10th St NW,30318,Atlanta,Fulton,GA,10.0,08/06/2019,Residential
2969291,2,At GA-10/Freedom Pky/Exit 248 NB - Accident. L...,2019-08-13 20:43:03,33.758959,-84.379290,Ellis St NE,30308,Atlanta,Fulton,GA,10.0,08/13/2019,Residential
2969813,2,At Brighton Rd - Accident. Right lane blocked.,2019-08-14 08:53:46,33.806700,-84.393870,Collier Rd NW,30309,Atlanta,Fulton,GA,10.0,08/14/2019,Residential
2972452,3,Ramp to I-285/Exit 95 - Accident.,2019-08-20 16:28:26,33.896806,-84.250632,Northcrest Rd,30340,Atlanta,DeKalb,GA,10.0,08/20/2019,Residential

In [11]:
str_choice2 = "GA-|I-|Pkwy|Hwy|US-|400|Connector|Expy" 
highway_df = narrowed_atl_df[narrowed_atl_df['Street'].str.contains(str_choice2, na = False)]
highway_df["Rd_Type"] = "Interstate"
highway_df

C:\Users\Amber\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Severity,Description,Start_Time,Start_Lat,Start_Lng,Street,Zipcode,City,County,State,Visibility(mi),Date,Rd_Type
512404,3,Three right lane blocked and right hand should...,2019-12-25 11:35:57,33.912956,-84.391212,GA-407 E,30342,Atlanta,Fulton,GA,10.0,12/25/2019,Interstate
512419,3,Four lanes blocked and left hand shoulder bloc...,2019-12-25 20:56:05,33.783630,-84.495560,GA-407 S,30318,Atlanta,Fulton,GA,10.0,12/25/2019,Interstate
512961,3,Left hand shoulder blocked and HOV & left lane...,2019-12-26 03:57:30,33.891838,-84.259323,GA-403 S,30340,Atlanta,DeKalb,GA,9.0,12/26/2019,Interstate
512984,3,HOV lane blocked due to accident on I-85 South...,2019-12-26 11:01:57,33.800785,-84.389580,GA-403 S,30309,Atlanta,Fulton,GA,10.0,12/26/2019,Interstate
512985,3,Lane blocked due to accident on I-85 Southboun...,2019-12-26 11:27:55,33.819431,-84.361671,GA-403 S,30324,Atlanta,Fulton,GA,10.0,12/26/2019,Interstate
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2972952,3,At I-285/Exit 51 - Accident.,2019-08-21 14:56:02,33.761977,-84.493530,GA-407 S,30331,Atlanta,Fulton,GA,10.0,08/21/2019,Interstate
2972970,3,At I-20/Exit 10 - Accident.,2019-08-21 17:02:16,33.768440,-84.494860,GA-407 S,30318,Atlanta,Fulton,GA,10.0,08/21/2019,Interstate
2973547,2,At Paces Ferry Rd/Exit 18 - Accident.,2019-08-22 15:52:21,33.860680,-84.480930,I-285 N,30339,Atlanta,Cobb,GA,10.0,08/22/2019,Interstate
2973984,4,At GA-166/Lakewood Fwy/Exit 5 - Accident.,2019-08-23 02:01:46,33.686550,-84.499870,GA-407 N,30331,Atlanta,Fulton,GA,10.0,08/23/2019,Interstate
2974013,2,Between I-285/Exit 95 and Pleasantdale Rd/Exit...,2019-08-23 20:29:30,33.895722,-84.252706,GA-403 N,30340,Atlanta,DeKalb,GA,10.0,08/23/2019,Interstate

In [13]:
New_traffic_info = pd.concat([street_df, highway_df], ignore_index=True)
New_traffic_info

,Severity,Description,Start_Time,Start_Lat,Start_Lng,Street,Zipcode,City,County,State,Visibility(mi),Date,Rd_Type
0,2,Main roadway closed due to accident on GA-400 ...,2019-12-26 17:43:03,33.906185,-84.358948,Johnson Ferry Rd NE,30342,Atlanta,Fulton,GA,10.0,12/26/2019,Residential
1,2,3 left lane blocked due to accident on US-19 N...,2019-12-26 21:26:47,33.786228,-84.407440,Northside Dr NW,30318,Atlanta,Fulton,GA,10.0,12/26/2019,Residential
2,3,Lane blocked due to accident on I-75 Northboun...,2019-12-28 17:24:10,33.740631,-84.391212,Pollard Blvd SW,30315,Atlanta,Fulton,GA,10.0,12/28/2019,Residential
3,2,Lane blocked due to accident on GA-13 Buford H...,2019-12-30 07:50:34,33.823967,-84.356277,Sidney Marcus Blvd NE,30324,Atlanta,Fulton,GA,10.0,12/30/2019,Residential
4,2,Left hand shoulder blocked due to accident on ...,2019-12-30 08:07:20,33.852207,-84.369438,Lenox Rd NE,30342,Atlanta,Fulton,GA,10.0,12/30/2019,Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12372,3,At I-285/Exit 51 - Accident.,2019-08-21 14:56:02,33.761977,-84.493530,GA-407 S,30331,Atlanta,Fulton,GA,10.0,08/21/2019,Interstate
12373,3,At I-20/Exit 10 - Accident.,2019-08-21 17:02:16,33.768440,-84.494860,GA-407 S,30318,Atlanta,Fulton,GA,10.0,08/21/2019,Interstate
12374,2,At Paces Ferry Rd/Exit 18 - Accident.,2019-08-22 15:52:21,33.860680,-84.480930,I-285 N,30339,Atlanta,Cobb,GA,10.0,08/22/2019,Interstate
12375,4,At GA-166/Lakewood Fwy/Exit 5 - Accident.,2019-08-23 02:01:46,33.686550,-84.499870,GA-407 N,30331,Atlanta,Fulton,GA,10.0,08/23/2019,Interstate
12376,2,Between I-285/Exit 95 and Pleasantdale Rd/Exit...,2019-08-23 20:29:30,33.895722,-84.252706,GA-403 N,30340,Atlanta,DeKalb,GA,10.0,08/23/2019,Interstate

In [14]:
#30312
traffic_info_30312 = pd.DataFrame(index=pd.date_range("01/01/2018", periods=730))
traffic_info_30312.index = traffic_info_30312.index.strftime('%m/%d/%Y')
sev_1 = []
sev_2 = []
sev_3 = []
sev_4 = []
num_accidents = []
Interstate_num = []
Residential = []

for i in range(len(traffic_info_30312)):
    traffic_info_df = New_traffic_info.loc[New_traffic_info["Zipcode"]=="30312",:]
    traffic_info_df = traffic_info_df.loc[traffic_info_df["Date"]==traffic_info_30312.index[i],:]
    sev_1.append(len(traffic_info_df.loc[traffic_info_df["Severity"]==1,:]))
    sev_2.append(len(traffic_info_df.loc[traffic_info_df["Severity"]==2,:]))
    sev_3.append(len(traffic_info_df.loc[traffic_info_df["Severity"]==3,:]))
    sev_4.append(len(traffic_info_df.loc[traffic_info_df["Severity"]==4,:]))
    Interstate_num.append(len(traffic_info_df.loc[traffic_info_df["Rd_Type"]=="Interstate",:]))
    Residential.append(len(traffic_info_df.loc[traffic_info_df["Rd_Type"]=="Residential",:]))
    num_accidents.append(len(traffic_info_df))
traffic_info_30312["Severity_1"] = sev_1
traffic_info_30312["Severity_2"] = sev_2
traffic_info_30312["Severity_3"] = sev_3
traffic_info_30312["Severity_4"] = sev_4
traffic_info_30312["Residential_ct"] = Residential
traffic_info_30312["Interstate_ct"] = Interstate_num
traffic_info_30312["Accident_ct"] = num_accidents
traffic_info_30312["Zipcode"] = "30312"
traffic_info_30312.index.name = 'Date'
traffic_info_30312

,Severity_1,Severity_2,Severity_3,Severity_4,Residential_ct,Interstate_ct,Accident_ct,Zipcode
Date,,,,,,,,
01/01/2018,0,0,1,0,0,1,1,30312
01/02/2018,0,1,5,0,1,5,6,30312
01/03/2018,0,0,1,0,0,1,1,30312
01/04/2018,0,1,5,0,0,6,6,30312
01/05/2018,0,1,3,0,1,3,4,30312
...,...,...,...,...,...,...,...,...
12/27/2019,0,0,0,0,0,0,0,30312
12/28/2019,0,0,1,0,0,1,1,30312
12/29/2019,0,0,0,1,0,1,1,30312
12/30/2019,0,0,0,0,0,0,0,30312
12/31/2019,0,0,0,0,0,0,0,30312

In [15]:
traffic_info_30312["Accident_ct"].sum()

1945

In [16]:
#30339
traffic_info_30339 = pd.DataFrame(index=pd.date_range("01/01/2018", periods=730))
traffic_info_30339.index = traffic_info_30339.index.strftime('%m/%d/%Y')
sev_1_30339 = []
sev_2_30339= []
sev_3_30339 = []
sev_4_30339 = []
num_accidents_30339 = []
Interstate_num_30339 = []
Residential_30339 = []

for i in range(len(traffic_info_30339)):
    traffic_info_df_30339 = New_traffic_info.loc[New_traffic_info["Zipcode"]=="30339",:]
    traffic_info_df_30339 = traffic_info_df_30339.loc[traffic_info_df_30339["Date"]==traffic_info_30339.index[i],:]
    sev_1_30339.append(len(traffic_info_df_30339.loc[traffic_info_df_30339["Severity"]==1,:]))
    sev_2_30339.append(len(traffic_info_df_30339.loc[traffic_info_df_30339["Severity"]==2,:]))
    sev_3_30339.append(len(traffic_info_df_30339.loc[traffic_info_df_30339["Severity"]==3,:]))
    sev_4_30339.append(len(traffic_info_df_30339.loc[traffic_info_df_30339["Severity"]==4,:]))
    Interstate_num_30339.append(len(traffic_info_df_30339.loc[traffic_info_df_30339["Rd_Type"]=="Interstate",:]))
    Residential_30339.append(len(traffic_info_df_30339.loc[traffic_info_df_30339["Rd_Type"]=="Residential",:]))
    num_accidents_30339.append(len(traffic_info_df_30339))
traffic_info_30339["Severity_1"] = sev_1_30339
traffic_info_30339["Severity_2"] = sev_2_30339
traffic_info_30339["Severity_3"] = sev_3_30339
traffic_info_30339["Severity_4"] = sev_4_30339
traffic_info_30339["Residential_ct"] = Residential_30339
traffic_info_30339["Interstate_ct"] = Interstate_num_30339
traffic_info_30339["Accident_ct"] = num_accidents_30339
traffic_info_30339["Zipcode"] = "30339"
traffic_info_30339.index.name = 'Date'
traffic_info_30339["Accident_ct"].sum()

1135

In [17]:
#30315
traffic_info_30315 = pd.DataFrame(index=pd.date_range("01/01/2018", periods=730))
traffic_info_30315.index = traffic_info_30315.index.strftime('%m/%d/%Y')
sev_1_30315 = []
sev_2_30315= []
sev_3_30315 = []
sev_4_30315 = []
num_accidents_30315 = []
Interstate_num_30315 = []
Residential_30315 = []

for i in range(len(traffic_info_30315)):
    traffic_info_df_30315 = New_traffic_info.loc[New_traffic_info["Zipcode"]=="30315",:]
    traffic_info_df_30315 = traffic_info_df_30315.loc[traffic_info_df_30315["Date"]==traffic_info_30315.index[i],:]
    sev_1_30315.append(len(traffic_info_df_30315.loc[traffic_info_df_30315["Severity"]==1,:]))
    sev_2_30315.append(len(traffic_info_df_30315.loc[traffic_info_df_30315["Severity"]==2,:]))
    sev_3_30315.append(len(traffic_info_df_30315.loc[traffic_info_df_30315["Severity"]==3,:]))
    sev_4_30315.append(len(traffic_info_df_30315.loc[traffic_info_df_30315["Severity"]==4,:]))
    Interstate_num_30315.append(len(traffic_info_df_30315.loc[traffic_info_df_30315["Rd_Type"]=="Interstate",:]))
    Residential_30315.append(len(traffic_info_df_30315.loc[traffic_info_df_30315["Rd_Type"]=="Residential",:]))
    num_accidents_30315.append(len(traffic_info_df_30315))
traffic_info_30315["Severity_1"] = sev_1_30315
traffic_info_30315["Severity_2"] = sev_2_30315
traffic_info_30315["Severity_3"] = sev_3_30315
traffic_info_30315["Severity_4"] = sev_4_30315
traffic_info_30315["Residential_ct"] = Residential_30315
traffic_info_30315["Interstate_ct"] = Interstate_num_30315
traffic_info_30315["Accident_ct"] = num_accidents_30315
traffic_info_30315["Zipcode"] = "30315"
traffic_info_30315.index.name = 'Date'
traffic_info_30315["Accident_ct"].sum()

1350

In [18]:
#30309
traffic_info_30309 = pd.DataFrame(index=pd.date_range("01/01/2018", periods=730))
traffic_info_30309.index = traffic_info_30309.index.strftime('%m/%d/%Y')
sev_1_30309 = []
sev_2_30309 = []
sev_3_30309 = []
sev_4_30309 = []
num_accidents_30309 = []
Interstate_num_30309 = []
Residential_30309 = []

for i in range(len(traffic_info_30309)):
    traffic_info_df_30309 = New_traffic_info.loc[New_traffic_info["Zipcode"]=="30309",:]
    traffic_info_df_30309 = traffic_info_df_30309.loc[traffic_info_df_30309["Date"]==traffic_info_30309.index[i],:]
    sev_1_30309.append(len(traffic_info_df_30309.loc[traffic_info_df_30309["Severity"]==1,:]))
    sev_2_30309.append(len(traffic_info_df_30309.loc[traffic_info_df_30309["Severity"]==2,:]))
    sev_3_30309.append(len(traffic_info_df_30309.loc[traffic_info_df_30309["Severity"]==3,:]))
    sev_4_30309.append(len(traffic_info_df_30309.loc[traffic_info_df_30309["Severity"]==4,:]))
    Interstate_num_30309.append(len(traffic_info_df_30309.loc[traffic_info_df_30309["Rd_Type"]=="Interstate",:]))
    Residential_30309.append(len(traffic_info_df_30309.loc[traffic_info_df_30309["Rd_Type"]=="Residential",:]))
    num_accidents_30309.append(len(traffic_info_df_30309))
traffic_info_30309["Severity_1"] = sev_1_30309
traffic_info_30309["Severity_2"] = sev_2_30309
traffic_info_30309["Severity_3"] = sev_3_30309
traffic_info_30309["Severity_4"] = sev_4_30309
traffic_info_30309["Residential_ct"] = Residential_30309
traffic_info_30309["Interstate_ct"] = Interstate_num_30309
traffic_info_30309["Accident_ct"] = num_accidents_30309
traffic_info_30309["Zipcode"] = "30309"
traffic_info_30309.index.name = 'Date'
traffic_info_30309["Accident_ct"].sum()

1468

In [19]:
#30331
traffic_info_30331 = pd.DataFrame(index=pd.date_range("01/01/2018", periods=730))
traffic_info_30331.index = traffic_info_30331.index.strftime('%m/%d/%Y')
sev_1_30331 = []
sev_2_30331 = []
sev_3_30331 = []
sev_4_30331 = []
num_accidents_30331 = []
Interstate_num_30331 = []
Residential_30331 = []

for i in range(len(traffic_info_30331)):
    traffic_info_df_30331 = New_traffic_info.loc[New_traffic_info["Zipcode"]=="30331",:]
    traffic_info_df_30331 = traffic_info_df_30331.loc[traffic_info_df_30331["Date"]==traffic_info_30331.index[i],:]
    sev_1_30331.append(len(traffic_info_df_30331.loc[traffic_info_df_30331["Severity"]==1,:]))
    sev_2_30331.append(len(traffic_info_df_30331.loc[traffic_info_df_30331["Severity"]==2,:]))
    sev_3_30331.append(len(traffic_info_df_30331.loc[traffic_info_df_30331["Severity"]==3,:]))
    sev_4_30331.append(len(traffic_info_df_30331.loc[traffic_info_df_30331["Severity"]==4,:]))
    Interstate_num_30331.append(len(traffic_info_df_30331.loc[traffic_info_df_30331["Rd_Type"]=="Interstate",:]))
    Residential_30331.append(len(traffic_info_df_30331.loc[traffic_info_df_30331["Rd_Type"]=="Residential",:]))
    num_accidents_30331.append(len(traffic_info_df_30331))
traffic_info_30331["Severity_1"] = sev_1_30331
traffic_info_30331["Severity_2"] = sev_2_30331
traffic_info_30331["Severity_3"] = sev_3_30331
traffic_info_30331["Severity_4"] = sev_4_30331
traffic_info_30331["Residential_ct"] = Residential_30331
traffic_info_30331["Interstate_ct"] = Interstate_num_30331
traffic_info_30331["Accident_ct"] = num_accidents_30331
traffic_info_30331["Zipcode"] = "30331"
traffic_info_30331.index.name = 'Date'
traffic_info_30331["Accident_ct"].sum()

1227

In [20]:
#30340
traffic_info_30340 = pd.DataFrame(index=pd.date_range("01/01/2018", periods=730))
traffic_info_30340.index = traffic_info_30340.index.strftime('%m/%d/%Y')
sev_1_30340 = []
sev_2_30340 = []
sev_3_30340 = []
sev_4_30340 = []
num_accidents_30340 = []
Interstate_num_30340 = []
Residential_30340 = []

for i in range(len(traffic_info_30340)):
    traffic_info_df_30340 = New_traffic_info.loc[New_traffic_info["Zipcode"]=="30340",:]
    traffic_info_df_30340 = traffic_info_df_30340.loc[traffic_info_df_30340["Date"]==traffic_info_30340.index[i],:]
    sev_1_30340.append(len(traffic_info_df_30340.loc[traffic_info_df_30340["Severity"]==1,:]))
    sev_2_30340.append(len(traffic_info_df_30340.loc[traffic_info_df_30340["Severity"]==2,:]))
    sev_3_30340.append(len(traffic_info_df_30340.loc[traffic_info_df_30340["Severity"]==3,:]))
    sev_4_30340.append(len(traffic_info_df_30340.loc[traffic_info_df_30340["Severity"]==4,:]))
    Interstate_num_30340.append(len(traffic_info_df_30340.loc[traffic_info_df_30340["Rd_Type"]=="Interstate",:]))
    Residential_30340.append(len(traffic_info_df_30340.loc[traffic_info_df_30340["Rd_Type"]=="Residential",:]))
    num_accidents_30340.append(len(traffic_info_df_30340))
traffic_info_30340["Severity_1"] = sev_1_30340
traffic_info_30340["Severity_2"] = sev_2_30340
traffic_info_30340["Severity_3"] = sev_3_30340
traffic_info_30340["Severity_4"] = sev_4_30340
traffic_info_30340["Residential_ct"] = Residential_30340
traffic_info_30340["Interstate_ct"] = Interstate_num_30340
traffic_info_30340["Accident_ct"] = num_accidents_30340
traffic_info_30340["Zipcode"] = "30340"
traffic_info_30340.index.name = 'Date'
traffic_info_30340["Accident_ct"].sum()

1090

In [21]:
#30324
traffic_info_30324 = pd.DataFrame(index=pd.date_range("01/01/2018", periods=730))
traffic_info_30324.index = traffic_info_30324.index.strftime('%m/%d/%Y')
sev_1_30324 = []
sev_2_30324 = []
sev_3_30324 = []
sev_4_30324 = []
num_accidents_30324 = []
Interstate_num_30324 = []
Residential_30324 = []

for i in range(len(traffic_info_30324)):
    traffic_info_df_30324 = New_traffic_info.loc[New_traffic_info["Zipcode"]=="30324",:]
    traffic_info_df_30324 = traffic_info_df_30324.loc[traffic_info_df_30324["Date"]==traffic_info_30324.index[i],:]
    sev_1_30324.append(len(traffic_info_df_30324.loc[traffic_info_df_30324["Severity"]==1,:]))
    sev_2_30324.append(len(traffic_info_df_30324.loc[traffic_info_df_30324["Severity"]==2,:]))
    sev_3_30324.append(len(traffic_info_df_30324.loc[traffic_info_df_30324["Severity"]==3,:]))
    sev_4_30324.append(len(traffic_info_df_30324.loc[traffic_info_df_30324["Severity"]==4,:]))
    Interstate_num_30324.append(len(traffic_info_df_30324.loc[traffic_info_df_30324["Rd_Type"]=="Interstate",:]))
    Residential_30324.append(len(traffic_info_df_30324.loc[traffic_info_df_30324["Rd_Type"]=="Residential",:]))
    num_accidents_30324.append(len(traffic_info_df_30324))
traffic_info_30324["Severity_1"] = sev_1_30324
traffic_info_30324["Severity_2"] = sev_2_30324
traffic_info_30324["Severity_3"] = sev_3_30324
traffic_info_30324["Severity_4"] = sev_4_30324
traffic_info_30324["Residential_ct"] = Residential_30324
traffic_info_30324["Interstate_ct"] = Interstate_num_30324
traffic_info_30324["Accident_ct"] = num_accidents_30324
traffic_info_30324["Zipcode"] = "30324"
traffic_info_30324.index.name = 'Date'
traffic_info_30324["Accident_ct"].sum()

1214

In [22]:
#30308
traffic_info_30308 = pd.DataFrame(index=pd.date_range("01/01/2018", periods=730))
traffic_info_30308.index = traffic_info_30308.index.strftime('%m/%d/%Y')
sev_1_30308 = []
sev_2_30308 = []
sev_3_30308 = []
sev_4_30308= []
num_accidents_30308 = []
Interstate_num_30308 = []
Residential_30308 = []

for i in range(len(traffic_info_30308)):
    traffic_info_df_30308 = New_traffic_info.loc[New_traffic_info["Zipcode"]=="30308",:]
    traffic_info_df_30308 = traffic_info_df_30308.loc[traffic_info_df_30308["Date"]==traffic_info_30308.index[i],:]
    sev_1_30308.append(len(traffic_info_df_30308.loc[traffic_info_df_30308["Severity"]==1,:]))
    sev_2_30308.append(len(traffic_info_df_30308.loc[traffic_info_df_30308["Severity"]==2,:]))
    sev_3_30308.append(len(traffic_info_df_30308.loc[traffic_info_df_30308["Severity"]==3,:]))
    sev_4_30308.append(len(traffic_info_df_30308.loc[traffic_info_df_30308["Severity"]==4,:]))
    Interstate_num_30308.append(len(traffic_info_df_30308.loc[traffic_info_df_30308["Rd_Type"]=="Interstate",:]))
    Residential_30308.append(len(traffic_info_df_30308.loc[traffic_info_df_30308["Rd_Type"]=="Residential",:]))
    num_accidents_30308.append(len(traffic_info_df_30308))
traffic_info_30308["Severity_1"] = sev_1_30308
traffic_info_30308["Severity_2"] = sev_2_30308
traffic_info_30308["Severity_3"] = sev_3_30308
traffic_info_30308["Severity_4"] = sev_4_30308
traffic_info_30308["Residential_ct"] = Residential_30308
traffic_info_30308["Interstate_ct"] = Interstate_num_30308
traffic_info_30308["Accident_ct"] = num_accidents_30308
traffic_info_30308["Zipcode"] = "30308"
traffic_info_30308.index.name = 'Date'
traffic_info_30308["Accident_ct"].sum()

1247

In [23]:
#30318
traffic_info_30318 = pd.DataFrame(index=pd.date_range("01/01/2018", periods=730))
traffic_info_30318.index = traffic_info_30318.index.strftime('%m/%d/%Y')
sev_1_30318 = []
sev_2_30318 = []
sev_3_30318 = []
sev_4_30318= []
num_accidents_30318 = []
Interstate_num_30318 = []
Residential_30318 = []

for i in range(len(traffic_info_30318)):
    traffic_info_df_30318 = New_traffic_info.loc[New_traffic_info["Zipcode"]=="30318",:]
    traffic_info_df_30318 = traffic_info_df_30318.loc[traffic_info_df_30318["Date"]==traffic_info_30318.index[i],:]
    sev_1_30318.append(len(traffic_info_df_30318.loc[traffic_info_df_30318["Severity"]==1,:]))
    sev_2_30318.append(len(traffic_info_df_30318.loc[traffic_info_df_30318["Severity"]==2,:]))
    sev_3_30318.append(len(traffic_info_df_30318.loc[traffic_info_df_30318["Severity"]==3,:]))
    sev_4_30318.append(len(traffic_info_df_30318.loc[traffic_info_df_30318["Severity"]==4,:]))
    Interstate_num_30318.append(len(traffic_info_df_30318.loc[traffic_info_df_30318["Rd_Type"]=="Interstate",:]))
    Residential_30318.append(len(traffic_info_df_30318.loc[traffic_info_df_30318["Rd_Type"]=="Residential",:]))
    num_accidents_30318.append(len(traffic_info_df_30318))
traffic_info_30318["Severity_1"] = sev_1_30318
traffic_info_30318["Severity_2"] = sev_2_30318
traffic_info_30318["Severity_3"] = sev_3_30318
traffic_info_30318["Severity_4"] = sev_4_30318
traffic_info_30318["Residential_ct"] = Residential_30318
traffic_info_30318["Interstate_ct"] = Interstate_num_30318
traffic_info_30318["Accident_ct"] = num_accidents_30318
traffic_info_30318["Zipcode"] = "30318"
traffic_info_30318.index.name = 'Date'
traffic_info_30318["Accident_ct"].sum()

907

In [24]:
#30342
traffic_info_30342 = pd.DataFrame(index=pd.date_range("01/01/2018", periods=730))
traffic_info_30342.index = traffic_info_30342.index.strftime('%m/%d/%Y')
sev_1_30342 = []
sev_2_30342 = []
sev_3_30342 = []
sev_4_30342= []
num_accidents_30342 = []
Interstate_num_30342 = []
Residential_30342 = []

for i in range(len(traffic_info_30342)):
    traffic_info_df_30342 = New_traffic_info.loc[New_traffic_info["Zipcode"]=="30342",:]
    traffic_info_df_30342 = traffic_info_df_30342.loc[traffic_info_df_30342["Date"]==traffic_info_30342.index[i],:]
    sev_1_30342.append(len(traffic_info_df_30342.loc[traffic_info_df_30342["Severity"]==1,:]))
    sev_2_30342.append(len(traffic_info_df_30342.loc[traffic_info_df_30342["Severity"]==2,:]))
    sev_3_30342.append(len(traffic_info_df_30342.loc[traffic_info_df_30342["Severity"]==3,:]))
    sev_4_30342.append(len(traffic_info_df_30342.loc[traffic_info_df_30342["Severity"]==4,:]))
    Interstate_num_30342.append(len(traffic_info_df_30342.loc[traffic_info_df_30342["Rd_Type"]=="Interstate",:]))
    Residential_30342.append(len(traffic_info_df_30342.loc[traffic_info_df_30342["Rd_Type"]=="Residential",:]))
    num_accidents_30342.append(len(traffic_info_df_30342))
traffic_info_30342["Severity_1"] = sev_1_30342
traffic_info_30342["Severity_2"] = sev_2_30342
traffic_info_30342["Severity_3"] = sev_3_30342
traffic_info_30342["Severity_4"] = sev_4_30342
traffic_info_30342["Residential_ct"] = Residential_30342
traffic_info_30342["Interstate_ct"] = Interstate_num_30342
traffic_info_30342["Accident_ct"] = num_accidents_30342
traffic_info_30342["Zipcode"] = "30342"
traffic_info_30342.index.name = 'Date'
traffic_info_30342["Accident_ct"].sum()

794

In [25]:
traffic_info_30312.to_csv('30312_Traffic_data_final.csv',index = True, header = True)
traffic_info_30339.to_csv('30339_Traffic_data_final.csv',index = True, header = True)
traffic_info_30315.to_csv('30315_Traffic_data_final.csv',index = True, header = True)
traffic_info_30309.to_csv('30309_Traffic_data_final.csv',index = True, header = True)
traffic_info_30331.to_csv('30331_Traffic_data_final.csv',index = True, header = True)
traffic_info_30340.to_csv('30340_Traffic_data_final.csv',index = True, header = True)
traffic_info_30324.to_csv('30324_Traffic_data_final.csv',index = True, header = True)
traffic_info_30308.to_csv('30308_Traffic_data_final.csv',index = True, header = True)
traffic_info_30318.to_csv('30318_Traffic_data_final.csv',index = True, header = True)
traffic_info_30342.to_csv('30342_Traffic_data_final.csv',index = True, header = True)